<h1>Acessibilidade</h1>
<form id="Acessibility" method="post" action="/api/acessibilidade">
<select name="accessibility">
    <option value="Possui-rampas">Possui rampas</option>
    <option value="Possui-moveis-planejados">Possui moveis planejados</option>
</select><br /><br />
<select name="accessibility2">
    <option value="Possui-rampas">Possui rampas</option>
    <option value="Possui-moveis-planejados">Possui moveis planejados</option>
</select><br /><br />
<input type="submit">
</form><br/><br/><hr />