<h1>Adicione item ao espaço</h1>
<form method="post" action="/api/spot" enctype="multipart/form-data">

    <input type="text" placeholder="Nome do item" name="nameitem"><br/><br/>

    <p>Escolha uma logo</p>
    <input method="post" type="file" name="images" id="formFile"><br/><br/><br/>

    <input type="submit">

</form><br/><hr/>