<h1>Adicionar Espaço</h1>
<form id="adicionar-item" method="post" action="/api/lugar" >

<select name="spot">
    <option value="Area-de-TV">Área de TV</option>
    <option value="Area-de-Visitas">Área de Visitas</option>
    <option value="Espaco-do-Sol">Espaço do Sol</option>
    </select><br /><br />

    <input name="id" type="text" value="Adicione o ID da Logo"><br /><br />
    
    <select name="spot2">
    <option value="Area-de-TV">Área de TV</option>
    <option value="Area-de-Visitas">Área de Visitas</option>
    <option value="Espaco-do-Sol">Espaço do Sol</option>
    </select><br /><br />
    
    <input name="id2" type="text" value="Adicione o ID da Logo"><br /><br />
    <input type= "submit">
</form><br/><br/><hr />