<h1>Adicione sua equipe</h1>
<form id="addteam" action="/equipe" method="post">

<select name="teamlist">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />

<select name="teamlist2">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />

<select name="teamlist3">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />

<input type="submit">

</form><br/><br/><hr />