<h1>Contato</h1>
<form id="adicionar-contato" method="post" action="/api/contato">
    <input type="text" value="website" name="website"><br/><br/>

    <input type="text" value="Telefone" name="tel1"><br/><br/>

    <input type="text" value="Telefone2" name="tel2"><br/><br/>

    <input type="time" name="timestart"> as

    <input type="time" name="timeend"><br/><br/>   
    
    <input type="submit">
</form><br/><br/><hr />