<input type="submit">
</form>
<h1>Perfil</h1>
<form id="Confirm" action="/api/perfil" method="post">
<select name="Confirm1">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm2">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm3">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm4">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm5">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm6">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<select name="Confirm7">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>

<input type="submit">

</form><br/><br/><hr />