<h1>Quantificação</h1>
<form id="Quantity" method="post" action="/quantidade" >

<select name="quantification">
    <option value="Media-de-camas-por-quarto">Numero de camas</option>
    <option value="Quantidade-de-Banheiros">Numero de banheiros</option>
    <option value="Quantidade-de-Quartos">Numero de quartos</option>
</select><br /><br />

<input type="number" name="qntynumber"><br /><br />

<select name="quantification2">
    <option value="Media-de-camas-por-quarto">Numero de camas</option>
    <option value="Quantidade-de-Banheiros">Numero de banheiros</option>
    <option value="Quantidade-de-Quartos">Numero de quartos</option>
</select><br /><br />

<input type="number" name="qntynumber2"><br /><br />

<input type="submit">

</form><br/><br/><hr />