<!--Iremos replicar para o cliente só que adicionariamos a classe own-->
<h1>Cadastro user</h1>
<form id="registrar" method="post" action="/api/register" >

<p>Nome</p>
<input name="name" type="text"><br/><br/>

<p>Email</p>
<input name="email" type="email"><br/><br/>

<input type="submit">

</form><br/><br/><hr />