<h1>Envie imagens 1-13</h1>
<form method="post" action="/api/enviarmultiplo" enctype="multipart/form-data">

<input method="post" type="file" name="images" id="formFile" multiple>

<input type= "submit">

</form><br/><br/><hr />