<h5>Envie imagens 1-13</h5>
<form method="post" action="/uploadmultiple" enctype="multipart/form-data">
<input method="post" type="file" name="images" id="formFile" multiple>
<input type= "submit">
</form>

<h5>Envie logo</h5>
<form method="post" action="/uploadsingle" enctype="multipart/form-data">
<input method="post" type="file" name="logo" id="formFile">
<input type= "submit">
</form><br />



<h5>Adicione sua equipe</h5>
<form id="addteam" action="/uploadform" method="post">
<select name="teamlist">
    <option value="Medicos">Medicos</option>
    <option value="Enfermeiros">Enfermeiros</option>
    <option value="Fonologos">Fonologos</option>
    <option value="Psicologos">Psicologos</option>
</select><br /><br />
<select name="teamlist2">
    <option value="Medicos">Medicos</option>
    <option value="Enfermeiros">Enfermeiros</option>
    <option value="Fonologos">Fonologos</option>
    <option value="Psicologos">Psicologos</option>
</select><br /><br />
<select name="teamlist3">
    <option value="Medicos">Medicos</option>
    <option value="Enfermeiros">Enfermeiros</option>
    <option value="Fonologos">Fonologos</option>
    <option value="Psicologos">Psicologos</option>
</select><br /><br />
<input type="submit">
</form>







