<h5>Envie imagens 1-13</h5>
<form method="post" action="/uploadmultiple" enctype="multipart/form-data">
<input method="post" type="file" name="images" id="formFile" multiple>
<input type= "submit">
</form>

<!--Iremos replicar para o cliente só que adicionariamos a classe own-->
<!--Temos de fazer igual xd e adicionar o primeiro ao cache e depois no segundo cadastramos-->
<h5>Cadastro user/cliente</h5>
<form id="registrar" method="post" action="/registerone" >
<p>Nome</p>
<input name="name" type="text"><br/><br/>
<p>Email</p>
<input name="email" type="email"><br/><br/>
<input type="submit">
</form><br/><br/>

<h5>Login user/cliente</h5>
<form id="login" method="post" action="/loginone">
<p>Email</p>
<input name="email" type="email"><br/><br/>
<input type="submit">
</form>

<h5>Envie logo</h5>
<form method="post" action="/uploadsingle" enctype="multipart/form-data">
<input method="post" type="file" name="logo" id="formFile">
<input type= "submit">
</form><br />

<h5>Contato</h5>
<form id="adicionar-contato" method="post" action="/addcontact">
    <input type="text" value="website" name="website"><br/><br/>
    <input type="text" value="Telefone" name="tel1"><br/><br/>
    <input type="text" value="Telefone2" name="tel2"><br/><br/>
    <input type="time" name="timestart"> as
    <input type="time" name="timeend"><br/><br/>   
    <input type="submit">
</form><br/><br/>

<h5>Adicionar Espaço</h5>
<form id="adicionar-item" method="post" action="/addspot" >
<select name="spot">
    <option value="Area-de-TV">Área de TV</option>
    <option value="Area-de-Visitas">Área de Visitas</option>
    <option value="Espaco-do-Sol">Espaço do Sol</option>
    </select><br /><br />
    <input name="id" type="text" value="Adicione o ID da Logo"><br /><br />
    <select name="spot2">
    <option value="Area-de-TV">Área de TV</option>
    <option value="Area-de-Visitas">Área de Visitas</option>
    <option value="Espaco-do-Sol">Espaço do Sol</option>
    </select><br /><br />
    <input name="id2" type="text" value="Adicione o ID da Logo"><br /><br />
    <input type= "submit">
</form><br />


<h5>Acessibilidade</h5>
<form id="Acessibility" method="post" action="/addaccessibility">
<select name="accessibility">
    <option value="Possui-rampas">Possui rampas</option>
    <option value="Possui-moveis-planejados">Possui moveis planejados</option>
</select><br /><br />
<select name="accessibility2">
    <option value="Possui-rampas">Possui rampas</option>
    <option value="Possui-moveis-planejados">Possui moveis planejados</option>
</select><br /><br />
<input type="submit">
</form>



<h5>Quantificação</h5>
<form id="Quantity" method="post" action="/addquantity" >
<select name="quantification">
    <option value="Media-de-camas-por-quarto">Numero de camas</option>
    <option value="Quantidade-de-Banheiros">Numero de banheiros</option>
    <option value="Quantidade-de-Quartos">Numero de quartos</option>
</select><br /><br />
<input type="number" name="qntynumber"><br /><br />

<select name="quantification2">
    <option value="Media-de-camas-por-quarto">Numero de camas</option>
    <option value="Quantidade-de-Banheiros">Numero de banheiros</option>
    <option value="Quantidade-de-Quartos">Numero de quartos</option>
</select><br /><br />
<input type="number" name="qntynumber2"><br /><br />


<input type="submit">
</form>

<h5>Perfil</h5>
<form id="Confirm" action="/uploadprofile" method="post">
<select name="Confirm1">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm2">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm3">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm4">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm5">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm6">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<select name="Confirm7">
    <option value="true">Sim</option>
    <option value="false">Não</option>
</select><br/><br/>
<input type="submit">
</form><br/>








<h5>Adicione sua equipe</h5>
<form id="addteam" action="/uploadform" method="post">
<select name="teamlist">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />
<select name="teamlist2">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />
<select name="teamlist3">
    <option value="Médicos">Médicos</option>
    <option value="Enfermagem">Enfermagem</option>
    <option value="Nutricionistas">Nutricionistas</option>
</select><br /><br />
<input type="submit">
</form>







