<a href="/">Voltar</a>

<h1>Entrar na conta</h1>
<form id="login" method="post" action="/logintwo">
<p>Senha</p>
<input name="email" type="hidden" value="{{email}}">
<input name="password" type="password"><br/><br/>
<input type="submit">
</form>
