<a href="/">Voltar</a>

<h1>Cadastrar Clinica</h1>
<form id="registrar" method="post" action="/api/account/register" >
<p>Crie uma senha</p>
<input name="name" type="hidden" value="{{name}}">
<input name="email" type="hidden" value="{{email}}">
<input name="password" type="password"><br/><br/>
<p>Confirme uma senha</p>
<input name="confirmpassword" type="password"><br/><br/>
<input type="submit">
</form>