<a href="/">Voltar</a>

<h1>Cadastrar</h1>
<form id="registrar" method="post" action="/registertwo" >
<p>Crie uma senha</p>
<input name="password" type="password"><br/><br/>
<p>Confirme uma senha</p>
<input name="confirmpassword" type="password"><br/><br/>
<input type="submit">
</form>